@import url("resset.css");
@import url("fonts.css");

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.background-wrapper {
    height: 100vh;               /* полный экран */
    background-image: url("../images/background-wrapper.jpg");
    background-size: cover;      /* 100% */
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    max-width: 834px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    padding: 30px 0px 30px 714px;
    border-bottom: 1px solid #a1a1a1;;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__link {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.header__link a {
    position: relative;      
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.2s;
}

.header__link a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30px;           
    width: 0;
    height: 2px;            
    background-color: #ffffff;
    transition: width 0.3s;
}

.header__link a:hover::after {
    width: 100%;         
}

.hero {
    color: #fff;
    padding: 164px 408px 251px 408px;
    text-align: center;
}

.hero__title {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 15px;
}

.hero__desc {
    font-weight: 800;
    font-size: 36px;
    line-height: 134%;
    margin-bottom: 37px;
}

.hero__link {
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 27px 10px 27px;
    background-color: #4985ff;
    border-radius: 22px;
    transition: 0.3s;
}

.hero__link:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.hero__link:active {
    background-color: #3a6edb;
    transform: translateY(0px) scale(0.98);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}