@import url("resset.css");
@import url("fonts.css");

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.background-wrapper {
    height: 100vh;               /* полный экран */
    background-image: url("../images/background-wrapper.jpg");
    background-size: cover;      /* 100% */
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    max-width: 854px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER */

.header {
    padding: 30px 0px 30px 714px;
    border-bottom: 1px solid #a1a1a1;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__link {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.header__link a {
    position: relative;      
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.2s;
}

.header__link a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30px;           
    width: 0;
    height: 2px;            
    background-color: #ffffff;
    transition: width 0.3s;
}

.header__link a:hover::after {
    width: 100%;         
}

/* HEADER */

/* -------------------------------- */

/* HERO */

.hero {
    color: #fff;
    padding: 164px 408px 251px 408px;
    text-align: center;
}

.hero__title {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 15px;
}

.hero__desc {
    font-weight: 800;
    font-size: 36px;
    line-height: 134%;
    margin-bottom: 37px;
}

.blue__link {
    font-weight: 500;
    font-size: 14px;
    display: block;
    width: max-content;
    margin: 0 auto;
    text-align: center;
    padding: 10px 27px 10px 27px;
    background-color: #4985ff;
    border-radius: 22px;
    transition: 0.3s;
    color: #fff;
}

.blue__link:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.blue__link:active {
    background-color: #3a6edb;
    transform: translateY(0px) scale(0.98);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* HERO */

/* -------------------------------- */

/* SERVICES */

.services {
    padding: 82px 0 78px 0;
}

.services__title {
    font-weight: 700;
    font-size: 27px;
    line-height: 146%;
    text-align: center;
    color: var(--dark);
}
.services__title span {
    display: block;
}

.services__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    text-align: center;
    color: #999999;
    margin-top: 37px;
}
.services__desc span {
    display: block;
}

.services__cards {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 41px;
}

.services__card {
    display: flex;
    align-items: flex-start;
}

.services__card__wrapper {
    max-width: 160px;
    margin-left: 21px;   
    margin-top: 34px; 
}

.services__card__wrapper__title {
    font-weight: 600;
    font-size: 15px;
    color: #000;
}

.services__card__wrapper__desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 158%;
    color: #999999;
    margin-top: 9px;
}

.services__card__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 1px solid #4985ff;
    border-radius: 50%;
}

.services__card__icon:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(70px + 15px); /* 70 + 7.5*2 */
    height: calc(70px + 15px);
    border: 1px solid #e0e0e0; /* второй круг */
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* SERVICES */

/* -------------------------------- */

/* ABOUT-US */
.about-us {
    background-color: #F6F6F8;
    padding: 75px 0 52.5px 0;
}

.about-us__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-us__top img {
    border-radius: 22.5px;
    box-shadow: 0 0 7px 0 rgba(111, 111, 111, 0.25);
}

.about-us__top__wrapper__title {
    font-weight: 700;
    font-size: 27px;
    line-height: 146%;
    color: var(--dark);
}

.about-us__top__wrapper__desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 158%;
    color: #999999;
    margin: 30px 0 22.5px 0;
    max-width: 370px;
}

.about-us__top__link {
    text-decoration: underline;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4985ff;
}

.about-us__bottom {
    margin-top: 67px;
    padding-top: 52.5px;
    border-top: 1px solid #e0e0e0;
}

.about-us__bottom__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-us__bottom__card__wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.about-us__bottom__card__number {
    font-weight: 400;
    font-size: 29px;
    line-height: 146%;
    color: #000;
}

.about-us__bottom__card__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    color: #999999;
}
/* ABOUT-US */

/* -------------------------------- */

/* ALL-SERVICES */
.all-services {

}

.all-services__top {
    height: 367px;
    background: 
    linear-gradient(90deg, #504dc2 0%, #5f12d0 100%),
    #c4c4c4;
    padding-top: 75px;
}

.all-services__top > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.all-services__top__title {
    font-weight: 700;
    font-size: 27px;
    line-height: 146%;
    color: #fff;
    max-width: 660px;
}

.all-services__cards {
    margin-top: 52.5px;
}

.all-services__cards > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22.5px;
    border-bottom: 3.5px solid #e0e0e0;
    padding-bottom: 63px;
}

.all-services__card img {
    border-radius: 7.5px;
    width: 250px;
    height: 213px;
}

.all-services__card__title {
    font-weight: 600;
    font-size: 16px;
    color: #000;
    margin-top: 22.5px;
}
.all-services__card__title span {
    color: #4985ff;
}

.all-services__card__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    color: #999999;
    margin: 22.5px 0 22.5px 0;
}

.all-services__card__link {
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4985ff;
}

.all-services__bottom {
    background: #fff;
    height: 361px;
    margin-bottom: 63px;
}

/* ALL-SERVICES */

/* -------------------------------- */

/* ALL-PROJECTS */
.all-projects {
    padding: 75px 0 168px 0;
    background-color: #F6F6F8;
}

.all-projects__title {
    font-weight: 700;
    font-size: 27px;
    line-height: 146%;
    text-align: center;
    color: #000;
    margin-bottom: 37px;
}

.all-projects__desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 158%;
    text-align: center;
    color: #999999;
    max-width: 547px;
    width: 100%;
    margin: 0 auto;
}

.all-projects__imgs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 52px;
}

/* ALL-PROJECTS */

/* -------------------------------- */