@import url("resset.css");
@import url("fonts.css");

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.background-wrapper {
    height: 100vh;               /* полный экран */
    background-image: url("../images/background-wrapper.jpg");
    background-size: cover;      /* 100% */
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    max-width: 854px;
    margin: 0 auto;
    padding: 0 20px;
}

.line {
    border: 1px solid #e0e0e0;
}

/* HEADER */

.header {
    padding: 30px 0px 30px 714px;
    border-bottom: 1px solid #a1a1a1;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__link {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.header__link a {
    position: relative;      
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.2s;
}

.header__link a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30px;           
    width: 0;
    height: 2px;            
    background-color: #ffffff;
    transition: width 0.3s;
}

.header__link a:hover::after {
    width: 100%;         
}

/* HEADER */

/* -------------------------------- */

/* HERO */

.hero {
    color: #fff;
    padding: 164px 408px 251px 408px;
    text-align: center;
}

.hero__title {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 15px;
}

.hero__desc {
    font-weight: 800;
    font-size: 36px;
    line-height: 134%;
    margin-bottom: 37px;
}

.blue__link {
    font-weight: 500;
    font-size: 14px;
    display: block;
    width: max-content;
    margin: 0 auto;
    text-align: center;
    padding: 10px 27px 10px 27px;
    background-color: #4985ff;
    border-radius: 22px;
    transition: 0.3s;
    color: #fff;
}

.blue__link:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.blue__link:active {
    background-color: #3a6edb;
    transform: translateY(0px) scale(0.98);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* HERO */

/* -------------------------------- */

/* SERVICES */

.services {
    padding: 82px 0 78px 0;
}

.services__title {
    font-weight: 700;
    font-size: 27px;
    line-height: 146%;
    text-align: center;
    color: var(--dark);
}
.services__title span {
    display: block;
}

.services__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    text-align: center;
    color: #999999;
    margin-top: 37px;
}
.services__desc span {
    display: block;
}

.services__cards {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 41px;
}

.services__card {
    display: flex;
    align-items: flex-start;
}

.services__card__wrapper {
    max-width: 160px;
    margin-left: 21px;   
    margin-top: 34px; 
}

.services__card__wrapper__title {
    font-weight: 600;
    font-size: 15px;
    color: #000;
}

.services__card__wrapper__desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 158%;
    color: #999999;
    margin-top: 9px;
}

.services__card__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 1px solid #4985ff;
    border-radius: 50%;
}

.services__card__icon:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(70px + 15px);
    height: calc(70px + 15px);
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* SERVICES */

/* -------------------------------- */

/* ABOUT-US */
.about-us {
    background-color: #F6F6F8;
    padding: 75px 0 52.5px 0;
}

.about-us__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-us__top img {
    border-radius: 22.5px;
    box-shadow: 0 0 7px 0 rgba(111, 111, 111, 0.25);
}

.about-us__top__wrapper__title {
    font-weight: 700;
    font-size: 27px;
    line-height: 146%;
    color: var(--dark);
}

.about-us__top__wrapper__desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 158%;
    color: #999999;
    margin: 30px 0 22.5px 0;
    max-width: 370px;
}

.about-us__top__link {
    text-decoration: underline;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4985ff;
}

.about-us__bottom {
    margin-top: 67px;
    padding-top: 52.5px;
    border-top: 1px solid #e0e0e0;
}

.about-us__bottom__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-us__bottom__card__wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.about-us__bottom__card__number {
    font-weight: 400;
    font-size: 29px;
    line-height: 146%;
    color: #000;
}

.about-us__bottom__card__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    color: #999999;
}
/* ABOUT-US */

/* -------------------------------- */

/* ALL-SERVICES */
.all-services {

}

.all-services__top {
    height: 367px;
    background: 
    linear-gradient(90deg, #504dc2 0%, #5f12d0 100%),
    #c4c4c4;
    padding-top: 75px;
}

.all-services__top > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.all-services__top__title {
    font-weight: 700;
    font-size: 27px;
    line-height: 146%;
    color: #fff;
    max-width: 660px;
}

.all-services__cards {
    margin-top: 52.5px;
}

.all-services__cards > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22.5px;
    border-bottom: 3.5px solid #e0e0e0;
    padding-bottom: 63px;
}

.all-services__card img {
    border-radius: 7.5px;
    width: 250px;
    height: 213px;
}

.all-services__card__title {
    font-weight: 600;
    font-size: 16px;
    color: #000;
    margin-top: 22.5px;
}
.all-services__card__title span {
    color: #4985ff;
}

.all-services__card__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    color: #999999;
    margin: 22.5px 0 22.5px 0;
}

.all-services__card__link {
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4985ff;
}

.all-services__bottom {
    background: #fff;
    height: 361px;
    margin-bottom: 63px;
}

/* ALL-SERVICES */

/* -------------------------------- */

/* ALL-PROJECTS */
.all-projects {
    padding: 75px 0 168px 0;
    background-color: #F6F6F8;
}

.all-projects__title {
    font-weight: 700;
    font-size: 27px;
    line-height: 146%;
    text-align: center;
    color: #000;
    margin-bottom: 37px;
}

.all-projects__desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 158%;
    text-align: center;
    color: #999999;
    max-width: 547px;
    width: 100%;
    margin: 0 auto;
}

.all-projects__imgs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 52px;
}

/* ALL-PROJECTS */

/* -------------------------------- */

/* VIDEO */
.video {
    padding: 53px 0 63px 0;
    background-image: url('../images/video-background.png');
    background-repeat: no-repeat;
    background-position: top center;
}

.video__title {
    font-weight: 700;
    font-size: 27px;
    line-height: 146%;
    text-align: center;
    color: #fff;
}

.video__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    text-align: center;
    color: #fff;
    margin-top: 23px;
    margin-bottom: 52px;
}

.video__card {
    width: 100%;
    max-width: 727.5px;
    margin: 0 auto;

    background-image: url('../images/video-card.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    height: 322.5px;

    box-shadow: 0 0 7px 0 rgba(111, 111, 111, 0.25);
}

.video__card__btn {
    position: absolute;  
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 15px 22px 15px 30px;

    border: 0.75px solid #fff;
    border-radius: 150px;

    background: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 15px;

    cursor: pointer;
    transition: 0.25s ease;
}

.video__card__btn span {
    font-weight: 500;
    font-size: 14px;
    line-height: 158%;
    color: #fff;
}
/* При наведении */
.video__card__btn:hover {
    transform: translate(-50%, -50%) scale(1.03); /* лёгкое увеличение */
    box-shadow: 0 8px 20px rgba(72, 133, 255, 0.4); /* тень вокруг кнопки */
    background: rgba(72, 133, 255, 0.1); /* лёгкий фон */
}

/* При нажатии */
.video__card__btn:active {
    transform: translate(-50%, -50%) scale(0.99); /* эффект вдавливания */
    box-shadow: 0 4px 10px rgba(72, 133, 255, 0.3); /* тень меньше */
    background: rgba(72, 133, 255, 0.2); /* чуть более заметный фон */
}

/* Анимация для SVG (крутим или слегка двигаем при hover) */
.video__card__btn svg {
    transition: transform 0.3s ease;
}

.video__card__btn:hover svg {
    transform: rotate(100deg); /* лёгкий поворот при наведении */
}

/* VIDEO */

/* -------------------------------- */

/* SUBCRIBE */
.subcribe {
    padding: 64px 0 64px 0;
}

.subcribe__title {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #000;
}

.suncribe__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    text-align: center;
    color: #999999;
    margin-top: 15px;
    margin-bottom: 22.5px;
}

.newsletter {
    display: flex; /* чтобы input и button были в одной строке */
    width: 366px; /* ширина input + button: 366 + 142 */
    height: 33px;
     margin: 0 auto; /* центрирование по горизонтали */
}

.newsletter input {
    border: 0.75px solid #f2f2f2;
    border-radius: 22px 0 0 22px; /* закругляем только левую часть */
    padding: 15px 24px;
    outline: none;
    border-right: none;
    box-shadow: 0 0 7px 0 rgba(111, 111, 111, 0.25);
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    color: #999999;
}

.newsletter button {
    width: 142px;
    height: 33px;
    border: 0.75px solid #f2f2f2;
    border-left: none;
    border-radius: 0 22px 22px 0;
    background-color: #4985ff;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 7px 0 rgba(111, 111, 111, 0.25);
    font-weight: 500;
    font-size: 14px;    
    text-align: center;
    transition: all 0.3s ease; /* плавная анимация */
}
.newsletter button:hover {
    background-color: #366ed9; /* чуть темнее при наведении */
    box-shadow: 0 5px 15px rgba(72, 133, 255, 0.4); /* более яркая тень */
    transform: translateY(-1px); /* эффект подъема */
}

.newsletter button:active {
    background-color: #2b55b0; /* еще темнее при нажатии */
    box-shadow: 0 2px 5px rgba(72, 133, 255, 0.3); /* уменьшаем тень */
    transform: translateY(0px); /* эффект нажатия вниз */
}

.subcribe__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    text-align: center;
    color: #999999;
    margin-top: 26px;
}
/* SUBCRIBE */

/* -------------------------------- */